
.services-block {
    $color-subt: #8172A2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    max-width: 100%;
    width: 100%;    
    background: url("../images/background-services-block.jpg") no-repeat;
    background-size: cover;

    .services-block__title {
        margin-top: 190px;
        margin-left: 180px;
        margin-bottom: 0;
        @include Font-FamilyStyleWeight();
        font-size: 82px;
        line-height: 81px;
        letter-spacing: 2.7px;
        color: $color-title-subtitle;
    }
    .services-block__subtitle {
        margin-top: 40px;
        margin-left: 180px;
        @include Font-FamilyStyleWeight();
        font-size: 19px;
        line-height: 22px;
        color: $color-subt;
    }
    .services-block__box-photo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;    
        margin-top: 175px;
        margin-left: 180px;
    
        .box-photo__item {
            margin-right: 65px;
        
            .box-photo__img {
                max-width: 300px;    
                margin-bottom: 80px;
            }
            .box-photo__subtitle {
                @include Font-FamilyStyleWeight();
                font-size: 23px;
                line-height: 27px;    
                color: $color-title-subtitle;
            }
        }
    }
}


