$color-text-button: #FBF7F3;
$color-background-button: #7140EB;
$color-title-subtitle: #49464F;

@mixin Font-FamilyStyleWeight {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}