
.block-benefits {
    $colot-item-title: #2E2C34;

    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    align-items: flex-start;
    margin-top: 55px;

    &__item { 
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        justify-content: center;  
        
        &__title {
            @include Font-FamilyStyleWeight();
            font-size: 30px;
            line-height: 36px;
            color: $colot-item-title;
            margin-bottom: 10px;    
        }
        &__img {
            max-width: 320px;    
        }
        &__subtitle {
            @include Font-FamilyStyleWeight();
            font-size: 20px;
            line-height: 23px;
            color: $color-title-subtitle;
            margin-top: 20px;
            margin-bottom: 160px;
        }
    }
    
}
