/* HEADER */

@mixin FlexHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
$color-hover: #49464F;

.header {    
    @include FlexHeader();    
    margin: 15px 25px;
    
    &__menu {
        $color-background: #FFFFFF;
        $color-text-menu: #8D867C;

        max-width: 660px;
        width: 100%;    
        padding: 0 25px;
        background: $color-background;
        border-radius: 9999px;
        @include FlexHeader();

        &__item, &__button {   
            @include Font-FamilyStyleWeight();
            font-size: 16px;
            line-height: 19px;
            color: $color-text-menu;
            text-decoration: unset; 
        }
        &__item:hover { /*подключается при наведении мышки*/
            color: $color-hover;
        }
        &__button {
            padding: 10px 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            color: $color-text-button;
            background-color: $color-background-button;
            border-radius: 9999px;
        }           
    }    
}

