.background-photo {    
    max-width: 100%;
    width: 100%;     
    height: 65vw; 
    background: url("../images/background-photo.jpg") no-repeat;    
    background-size: cover;   
    background-position: center;
}