/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    min-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    background-color: #FBF7F3;       
}

.conteiner {
    min-width: 100%;
    width: 100%;
}

/* HEADER */

.header {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    margin: 15px 25px;
}
.header__menu {
    max-width: 660px;
    width: 100%;    
    padding: 0 25px;
    background: #FFFFFF;
    border-radius: 9999px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}
.menu__item, .menu__button {   
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8D867C;
    text-decoration: unset; 
}
.menu__item:hover { /*подключается при наведении мышки*/
    color: #49464F;
}
.menu__button {
    padding: 10px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FBF7F3;
    background-color: #7140EB;
    border-radius: 9999px;
}

/* MAIN */

/* first-title */
.first-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;   
    background: url("../images/background-first-title.jpg") no-repeat;    
    background-size: cover; /*задает размер фона такой, чтобы по высоте и ширине поместился в браузер*/
    background-position: center;
}
.first-title__title {
    margin-top: 80px;
    margin-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    text-align: center;
    letter-spacing: 2.7px;
    color: #FBF7F3;
}
.first-title__subtitle {    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FBF7F3;
}
.first-title__button {
    margin-top: 25px;
    margin-bottom: 80px;
    padding: 10px 25px;
    color: #FBF7F3;
    background-color: #7140EB;
    border-radius: 9999px;
    text-decoration: unset; 
}

/* second-title */
.second-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;
    width: 100%;    
    background: url("../images/background-second-title.jpg") no-repeat;    
    background-size: cover;   
    background-position: bottom;
}
.second-title__title {
    margin-top: 80px;
    margin-bottom: 0;    
    padding-right: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 93px;
    line-height: 112px;
    text-align: right;
    letter-spacing: 5.625px;
    color: #FBF7F3;
}
.second-title__subtitle {
    padding-right: 50px;
    padding-bottom: 570px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 28px;
    text-align: right;
    color: #FBF7F3;
}

/* hird section */
.third-section {
    margin-top: 100px;
    max-width: 100%;    
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.third-section__box-one {    
    width: 100%;      
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.box-one__title {    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 86px;
    line-height: 81px;
    letter-spacing: 2.7px;
    color: #49464F;  
}
.subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;    
    text-align: center;
    color: #8172A2;
}
.box-one__img {
    width: 440px;
    height: 1010px;
}
.box-one__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.name-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #49464F;
}
.list li {    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #8172A2;
    list-style-type: none;
    vertical-align: sub; /*выравнивает текст с точкой*/    
}
.list li:before {    
    content: "\2022";    
    color: #7140EB;
    font-weight: bold;
    font-size: 110px;
    vertical-align: middle;
    line-height: 40px;    
    padding-right: 15px;
}
.third-section__box-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-two__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 82px;
    line-height: 81px;
    text-align: center;
    letter-spacing: 2.7px;
    color: #49464F;
}
.box-two__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #8172A2;
}
.box-two__img {
    max-width: 1150px;        
}

/* block benefits */
.block-benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    align-items: flex-start;
    margin-top: 55px;
}
.block-benefits__item { 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;      
}
.item__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #2E2C34;
    margin-bottom: 10px;    
}
.item__img {
    max-width: 320px;    
}
.item__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #49464F;
    margin-top: 20px;
    margin-bottom: 160px;
}

/* background photo */
.background-photo {    
    max-width: 100%;
    width: 100%;     
    height: 65vw; 
    background: url("../images/background-photo.jpg") no-repeat;    
    background-size: cover;   
    background-position: center;
}

/* services block */
.services-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
    max-width: 100%;
    width: 100%;    
    background: url("../images/background-services-block.jpg") no-repeat;
    background-size: cover;
}
.services-block__title {
    margin-top: 190px;
    margin-left: 180px;
    margin-bottom: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 82px;
    line-height: 81px;
    letter-spacing: 2.7px;
    color: #49464F;
}
.services-block__subtitle {
    margin-top: 40px;
    margin-left: 180px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 22px;
    color: #8172A2;
}
.services-block__box-photo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
    margin-top: 175px;
    margin-left: 180px;
}
.box-photo__item {
    margin-right: 65px;
}
.box-photo__img {
    max-width: 300px;    
    margin-bottom: 80px;
}
.box-photo__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;    
    color: #49464F;
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-top: 165px;
    margin-bottom: 165px;
}
.footer__img {
    max-width: 360px;    
}
.text__title {
    margin-bottom: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 71px;
    line-height: 81px;
    text-align: center;
    letter-spacing: 2.7px;
    color: #49464F;
}
.text__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;   
    text-align: center;
    color: #49464F;
}


/* adaptive */
@media screen and (max-width: 430px) {

    /* first-title */

    .first-title__title {        
        font-size: 60px; 
        line-height: 70px;         
    }
    

    /* second-title */

    .second-title {        
        align-items: center;        
    } 

    .second-title__title {        
        font-size: 60px;
        line-height: 70px;
        padding: 0;        
    }
    .second-title__subtitle {
        margin-top: 20px; 
        padding-right: 0;       
        font-size: 25px;
        line-height: 29px;                
    } 
    
    

    /* third-section */

    .third-section {
        margin-top: 50px;      
    }
    .third-section__box-one {
        display: flex;
        flex-direction: column;     
    }   
    .title {      
        font-size: 60px;
        line-height: 70px;         
    } 
    .box-one__img {
        display: none;
    }  
    .name-list {
        margin-top: 50px;       
    }   
    .third-section__box-two {
       margin-top: 60px;
       margin-bottom: 60px;       
    }
    .box-two__title {        
        font-size: 60px;
        line-height: 70px;        
    }  
    .box-two__img {
        display: none;        
    }


    /* block-benefits */

    .block-benefits {
        display: flex;
        flex-direction: column;
        justify-content: center;        
        align-items: center;        
    }    
    .item__img {
        max-width: 300px;    
    }
    .item__subtitle {        
        margin-bottom: 70px;
    }
   
    /* background-photo */

    .background-photo {
        display: none;
    }

    /* services-block */

    .services-block {       
        align-items: center;        
    }
    .services-block__title {
        margin-top: 80px;
        margin-left: 0px;    
        font-size: 60px;
        line-height: 70px;        
    }
    .services-block__subtitle {       
        margin-left: 0px;      
    }
    .services-block__box-photo {        
        flex-direction: column;        
        align-items: center;       
        margin-left: 0px;
    }
    .box-photo__item {
        margin-right: 0px;
    }
    .box-photo__img {       
        margin-bottom: 10px;
    }
    .box-photo__subtitle {
        margin-bottom: 40px;
    } 

    /* footer */


    .footer {        
        flex-direction: column;        
        align-items: center; 
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .footer__img {         
        display: none;   
    }
    .text__title {
        margin-bottom: 35px;        
        font-size: 60px;
        line-height: 70px;        
    }   
}

@media screen and (max-width: 360px) {
   
    .header {         
        justify-content: space-around;        
    }
}
