$color-subt-li: #8172A2;
$color-circle: #7140EB;

.third-section {
    margin-top: 100px;
    max-width: 100%;    
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__box-one {    
        width: 100%;      
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
        &__title {    
            display: flex;
            flex-direction: column;
            justify-content: center;
        
            .title {                
                @include Font-FamilyStyleWeight();
                font-size: 86px;
                line-height: 81px;
                letter-spacing: 2.7px;
                color: $color-title-subtitle;  
            }
            .subtitle {                
                @include Font-FamilyStyleWeight();
                font-size: 20px;
                line-height: 23px;    
                text-align: center;
                color: $color-subt-li;
            }
        }
        
        &__img {
            width: 440px;
            height: 1010px;
        }
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: start;
        
            .name-list {                
                @include Font-FamilyStyleWeight();
                font-size: 12px;
                line-height: 14px;
                color: $color-title-subtitle;
            }
        
            .list li {                 
                @include Font-FamilyStyleWeight();
                font-size: 20px;
                line-height: 23px;
                color: $colr-subt-li;
                list-style-type: none;
                vertical-align: sub; /*выравнивает текст с точкой*/    
            }
            .list li:before {    
                content: "\2022";    
                color: $color-circle;
                font-weight: bold;
                font-size: 110px;
                vertical-align: middle;
                line-height: 40px;    
                padding-right: 15px;
            }
        }
    }
    
    .third-section__box-two {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        &__title {
            margin-top: 0;
            margin-bottom: 20px;            
            @include Font-FamilyStyleWeight();
            font-size: 82px;
            line-height: 81px;
            text-align: center;
            letter-spacing: 2.7px;
            color: $color-title-subtitle;
        }
        &__subtitle {            
            @include Font-FamilyStyleWeight();
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: $colr-subt-li;
        }
        &__img {
            max-width: 1150px;        
        }
    }
}

